.circle__container {
   margin: 10px 0 0 60px;

}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 100px;
    border: 1px solid black;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}
