.circle__container {
   margin: 10px 0 0 60px;

}

.circle__red {
    width: 30px;
    height: 30px;
    border-radius: 100px;
    background-color: red;
}

.circle__green {
    width: 30px;
    height: 30px;
    border-radius: 100px;
    background-color: green;
}